<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.Aleft</key>
	<array>
		<string>A'</string>
		<string>V</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
	</array>
	<key>.Aright</key>
	<array>
		<string>A'</string>
		<string>V</string>
		<string>W</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
	</array>
	<key>.Hleft</key>
	<array>
		<string>H'</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Ntilde</string>
		<string>Thorn</string>
		<string>germandbls</string>
	</array>
	<key>.Hright</key>
	<array>
		<string>H'</string>
		<string>J</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>.Oleft</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>G</string>
		<string>Q</string>
		<string>OE</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
	</array>
	<key>.Oright</key>
	<array>
		<string>O'</string>
		<string>D</string>
		<string>D</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
	</array>
	<key>.U</key>
	<array>
		<string>U'</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
	</array>
	<key>.Xleft</key>
	<array>
		<string>X'</string>
	</array>
	<key>.Xright</key>
	<array>
		<string>X'</string>
		<string>K</string>
	</array>
	<key>.dright</key>
	<array>
		<string>d'</string>
		<string>q</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
	</array>
	<key>.eright</key>
	<array>
		<string>e'</string>
		<string>ae</string>
		<string>oe</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
	</array>
	<key>.l</key>
	<array>
		<string>l'</string>
		<string>i</string>
	</array>
	<key>.nleft</key>
	<array>
		<string>n'</string>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>m</string>
		<string>p</string>
		<string>r</string>
		<string>ntilde</string>
		<string>thorn</string>
	</array>
	<key>.nright</key>
	<array>
		<string>n'</string>
		<string>h</string>
		<string>m</string>
		<string>ntilde</string>
	</array>
	<key>.oleft</key>
	<array>
		<string>o'</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>g</string>
		<string>q</string>
		<string>oe</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>eth</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
	</array>
	<key>.oright</key>
	<array>
		<string>o'</string>
		<string>b</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>thorn</string>
	</array>
	<key>.vleft</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>.xleft</key>
	<array>
		<string>x'</string>
	</array>
	<key>.xright</key>
	<array>
		<string>x'</string>
		<string>k</string>
	</array>
</dict>
</plist>
