<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-27</integer>
		<key>G</key>
		<integer>-27</integer>
		<key>J</key>
		<integer>94</integer>
		<key>O</key>
		<integer>-27</integer>
		<key>T</key>
		<integer>-147</integer>
		<key>U</key>
		<integer>-27</integer>
		<key>V</key>
		<integer>-117</integer>
		<key>W</key>
		<integer>-74</integer>
		<key>Y</key>
		<integer>-156</integer>
		<key>Ydieresis</key>
		<integer>-156</integer>
		<key>Z</key>
		<integer>59</integer>
		<key>asterisk</key>
		<integer>-129</integer>
		<key>comma</key>
		<integer>68</integer>
		<key>quotedblleft</key>
		<integer>-154</integer>
		<key>quotedblright</key>
		<integer>-193</integer>
		<key>quoteleft</key>
		<integer>-154</integer>
		<key>quoteright</key>
		<integer>-193</integer>
		<key>t</key>
		<integer>-27</integer>
		<key>trademark</key>
		<integer>-102</integer>
		<key>v</key>
		<integer>-43</integer>
		<key>w</key>
		<integer>-27</integer>
		<key>y</key>
		<integer>-37</integer>
		<key>ydieresis</key>
		<integer>-63</integer>
	</dict>
	<key>AE</key>
	<dict>
		<key>J</key>
		<integer>14</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>T</key>
		<integer>-92</integer>
		<key>Y</key>
		<integer>-66</integer>
		<key>Ydieresis</key>
		<integer>-66</integer>
		<key>quotedblbase</key>
		<integer>-78</integer>
		<key>quotesinglbase</key>
		<integer>-78</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>C</key>
		<integer>-55</integer>
		<key>Ccedilla</key>
		<integer>-55</integer>
		<key>G</key>
		<integer>-55</integer>
		<key>O</key>
		<integer>-27</integer>
		<key>OE</key>
		<integer>-55</integer>
		<key>Oacute</key>
		<integer>-55</integer>
		<key>Ocircumflex</key>
		<integer>-55</integer>
		<key>Odieresis</key>
		<integer>-55</integer>
		<key>Ograve</key>
		<integer>-55</integer>
		<key>Oslash</key>
		<integer>-55</integer>
		<key>Otilde</key>
		<integer>-55</integer>
		<key>Q</key>
		<integer>-55</integer>
		<key>guillemotleft</key>
		<integer>-49</integer>
		<key>guilsinglleft</key>
		<integer>-49</integer>
		<key>idieresis</key>
		<integer>29</integer>
		<key>question</key>
		<integer>2</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-33</integer>
		<key>AE</key>
		<integer>-74</integer>
		<key>Aacute</key>
		<integer>-33</integer>
		<key>Acircumflex</key>
		<integer>-33</integer>
		<key>Adieresis</key>
		<integer>-33</integer>
		<key>Agrave</key>
		<integer>-33</integer>
		<key>Aring</key>
		<integer>-33</integer>
		<key>Atilde</key>
		<integer>-33</integer>
		<key>T</key>
		<integer>-92</integer>
		<key>X</key>
		<integer>-53</integer>
		<key>Ydieresis</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-49</integer>
		<key>comma</key>
		<integer>-129</integer>
		<key>period</key>
		<integer>-129</integer>
		<key>quotedblbase</key>
		<integer>-117</integer>
		<key>quotesinglbase</key>
		<integer>-117</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>A</key>
		<integer>10</integer>
		<key>Aacute</key>
		<integer>10</integer>
		<key>Acircumflex</key>
		<integer>10</integer>
		<key>Adieresis</key>
		<integer>10</integer>
		<key>Agrave</key>
		<integer>10</integer>
		<key>Aring</key>
		<integer>10</integer>
		<key>Atilde</key>
		<integer>10</integer>
		<key>J</key>
		<integer>68</integer>
		<key>T</key>
		<integer>4</integer>
		<key>W</key>
		<integer>29</integer>
		<key>X</key>
		<integer>8</integer>
		<key>idieresis</key>
		<integer>18</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-133</integer>
		<key>AE</key>
		<integer>-180</integer>
		<key>Aacute</key>
		<integer>-133</integer>
		<key>Acircumflex</key>
		<integer>-133</integer>
		<key>Adieresis</key>
		<integer>-133</integer>
		<key>Agrave</key>
		<integer>-133</integer>
		<key>Aring</key>
		<integer>-133</integer>
		<key>Atilde</key>
		<integer>-133</integer>
		<key>J</key>
		<integer>-66</integer>
		<key>S</key>
		<integer>-27</integer>
		<key>T</key>
		<integer>14</integer>
		<key>a</key>
		<integer>-76</integer>
		<key>comma</key>
		<integer>-154</integer>
		<key>f</key>
		<integer>10</integer>
		<key>idieresis</key>
		<integer>39</integer>
		<key>period</key>
		<integer>-154</integer>
		<key>quotedblbase</key>
		<integer>-182</integer>
		<key>quotesinglbase</key>
		<integer>-182</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>T</key>
		<integer>-49</integer>
		<key>V</key>
		<integer>-27</integer>
		<key>y</key>
		<integer>-27</integer>
		<key>ydieresis</key>
		<integer>-27</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>-37</integer>
		<key>AE</key>
		<integer>-104</integer>
		<key>Aacute</key>
		<integer>-37</integer>
		<key>Acircumflex</key>
		<integer>-37</integer>
		<key>Adieresis</key>
		<integer>-37</integer>
		<key>Agrave</key>
		<integer>-37</integer>
		<key>Aring</key>
		<integer>-37</integer>
		<key>Atilde</key>
		<integer>-37</integer>
		<key>J</key>
		<integer>-66</integer>
		<key>a</key>
		<integer>-27</integer>
		<key>aacute</key>
		<integer>-27</integer>
		<key>acircumflex</key>
		<integer>-27</integer>
		<key>adieresis</key>
		<integer>-27</integer>
		<key>ae</key>
		<integer>-27</integer>
		<key>agrave</key>
		<integer>-27</integer>
		<key>aring</key>
		<integer>-27</integer>
		<key>atilde</key>
		<integer>-27</integer>
		<key>comma</key>
		<integer>-102</integer>
		<key>period</key>
		<integer>-102</integer>
		<key>quotedblbase</key>
		<integer>-102</integer>
		<key>quotesinglbase</key>
		<integer>-154</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>C</key>
		<integer>-90</integer>
		<key>Ccedilla</key>
		<integer>-102</integer>
		<key>G</key>
		<integer>-90</integer>
		<key>J</key>
		<integer>90</integer>
		<key>O</key>
		<integer>-90</integer>
		<key>OE</key>
		<integer>-90</integer>
		<key>Oacute</key>
		<integer>-90</integer>
		<key>Ocircumflex</key>
		<integer>-90</integer>
		<key>Odieresis</key>
		<integer>-90</integer>
		<key>Ograve</key>
		<integer>-90</integer>
		<key>Oslash</key>
		<integer>-90</integer>
		<key>Otilde</key>
		<integer>-90</integer>
		<key>Q</key>
		<integer>-90</integer>
		<key>X</key>
		<integer>37</integer>
		<key>Z</key>
		<integer>39</integer>
		<key>c</key>
		<integer>-27</integer>
		<key>ccedilla</key>
		<integer>-27</integer>
		<key>comma</key>
		<integer>39</integer>
		<key>d</key>
		<integer>-27</integer>
		<key>e</key>
		<integer>-27</integer>
		<key>eacute</key>
		<integer>-27</integer>
		<key>ecircumflex</key>
		<integer>-27</integer>
		<key>edieresis</key>
		<integer>-27</integer>
		<key>egrave</key>
		<integer>-27</integer>
		<key>g</key>
		<integer>-27</integer>
		<key>iacute</key>
		<integer>-49</integer>
		<key>idieresis</key>
		<integer>39</integer>
		<key>o</key>
		<integer>-27</integer>
		<key>oacute</key>
		<integer>-27</integer>
		<key>ocircumflex</key>
		<integer>-27</integer>
		<key>odieresis</key>
		<integer>-27</integer>
		<key>oe</key>
		<integer>-27</integer>
		<key>ograve</key>
		<integer>-27</integer>
		<key>otilde</key>
		<integer>-27</integer>
		<key>q</key>
		<integer>-27</integer>
		<key>quotedblbase</key>
		<integer>68</integer>
		<key>quotesinglbase</key>
		<integer>68</integer>
		<key>t</key>
		<integer>-47</integer>
		<key>v</key>
		<integer>-74</integer>
		<key>w</key>
		<integer>-53</integer>
		<key>y</key>
		<integer>-92</integer>
		<key>ydieresis</key>
		<integer>-92</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>A</key>
		<integer>59</integer>
		<key>C</key>
		<integer>-66</integer>
		<key>Ccedilla</key>
		<integer>-66</integer>
		<key>G</key>
		<integer>-66</integer>
		<key>J</key>
		<integer>100</integer>
		<key>O</key>
		<integer>-70</integer>
		<key>OE</key>
		<integer>-70</integer>
		<key>Oacute</key>
		<integer>-70</integer>
		<key>Ocircumflex</key>
		<integer>-70</integer>
		<key>Odieresis</key>
		<integer>-70</integer>
		<key>Ograve</key>
		<integer>-70</integer>
		<key>Oslash</key>
		<integer>-70</integer>
		<key>Otilde</key>
		<integer>-70</integer>
		<key>Q</key>
		<integer>-70</integer>
		<key>T</key>
		<integer>-113</integer>
		<key>U</key>
		<integer>-29</integer>
		<key>Uacute</key>
		<integer>-29</integer>
		<key>Ucircumflex</key>
		<integer>-29</integer>
		<key>Udieresis</key>
		<integer>-29</integer>
		<key>Ugrave</key>
		<integer>-29</integer>
		<key>V</key>
		<integer>-117</integer>
		<key>W</key>
		<integer>-49</integer>
		<key>Y</key>
		<integer>-129</integer>
		<key>Ydieresis</key>
		<integer>-102</integer>
		<key>Z</key>
		<integer>59</integer>
		<key>asterisk</key>
		<integer>-207</integer>
		<key>question</key>
		<integer>-102</integer>
		<key>quotedblbase</key>
		<integer>68</integer>
		<key>quotedblleft</key>
		<integer>-141</integer>
		<key>quotedblright</key>
		<integer>-117</integer>
		<key>quoteleft</key>
		<integer>-141</integer>
		<key>quoteright</key>
		<integer>-129</integer>
		<key>quotesinglbase</key>
		<integer>68</integer>
		<key>t</key>
		<integer>-27</integer>
		<key>trademark</key>
		<integer>-102</integer>
		<key>v</key>
		<integer>-102</integer>
		<key>w</key>
		<integer>-66</integer>
		<key>y</key>
		<integer>-76</integer>
		<key>ydieresis</key>
		<integer>-76</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-27</integer>
		<key>Aacute</key>
		<integer>-27</integer>
		<key>Acircumflex</key>
		<integer>-27</integer>
		<key>Adieresis</key>
		<integer>-27</integer>
		<key>Agrave</key>
		<integer>-27</integer>
		<key>Aring</key>
		<integer>-27</integer>
		<key>Atilde</key>
		<integer>-27</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-92</integer>
		<key>X</key>
		<integer>-37</integer>
		<key>Y</key>
		<integer>-25</integer>
		<key>Ydieresis</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-49</integer>
		<key>comma</key>
		<integer>-92</integer>
		<key>period</key>
		<integer>-92</integer>
		<key>quotedblbase</key>
		<integer>-104</integer>
		<key>quotesinglbase</key>
		<integer>-180</integer>
	</dict>
	<key>OE</key>
	<dict>
		<key>A</key>
		<integer>29</integer>
		<key>J</key>
		<integer>68</integer>
		<key>T</key>
		<integer>4</integer>
		<key>X</key>
		<integer>8</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-158</integer>
		<key>AE</key>
		<integer>-279</integer>
		<key>Aacute</key>
		<integer>-158</integer>
		<key>Acircumflex</key>
		<integer>-158</integer>
		<key>Adieresis</key>
		<integer>-158</integer>
		<key>Agrave</key>
		<integer>-158</integer>
		<key>Aring</key>
		<integer>-158</integer>
		<key>Atilde</key>
		<integer>-158</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-129</integer>
		<key>W</key>
		<integer>39</integer>
		<key>X</key>
		<integer>-61</integer>
		<key>a</key>
		<integer>-66</integer>
		<key>aacute</key>
		<integer>-66</integer>
		<key>acircumflex</key>
		<integer>-66</integer>
		<key>adieresis</key>
		<integer>-66</integer>
		<key>ae</key>
		<integer>-66</integer>
		<key>agrave</key>
		<integer>-66</integer>
		<key>aring</key>
		<integer>-66</integer>
		<key>atilde</key>
		<integer>-66</integer>
		<key>c</key>
		<integer>-76</integer>
		<key>ccedilla</key>
		<integer>-76</integer>
		<key>comma</key>
		<integer>-326</integer>
		<key>d</key>
		<integer>-76</integer>
		<key>e</key>
		<integer>-76</integer>
		<key>eacute</key>
		<integer>-76</integer>
		<key>ecircumflex</key>
		<integer>-76</integer>
		<key>edieresis</key>
		<integer>-76</integer>
		<key>egrave</key>
		<integer>-76</integer>
		<key>g</key>
		<integer>-76</integer>
		<key>o</key>
		<integer>-76</integer>
		<key>oacute</key>
		<integer>-76</integer>
		<key>ocircumflex</key>
		<integer>-76</integer>
		<key>odieresis</key>
		<integer>-76</integer>
		<key>oe</key>
		<integer>-76</integer>
		<key>ograve</key>
		<integer>-76</integer>
		<key>otilde</key>
		<integer>-76</integer>
		<key>period</key>
		<integer>-326</integer>
		<key>q</key>
		<integer>-74</integer>
		<key>quotedblbase</key>
		<integer>-338</integer>
		<key>quotesinglbase</key>
		<integer>-326</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>A</key>
		<integer>-27</integer>
		<key>Aacute</key>
		<integer>-27</integer>
		<key>Acircumflex</key>
		<integer>-27</integer>
		<key>Adieresis</key>
		<integer>-27</integer>
		<key>Agrave</key>
		<integer>-27</integer>
		<key>Aring</key>
		<integer>-27</integer>
		<key>Atilde</key>
		<integer>-27</integer>
		<key>T</key>
		<integer>-92</integer>
		<key>X</key>
		<integer>-37</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>Ydieresis</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-49</integer>
		<key>comma</key>
		<integer>-92</integer>
		<key>period</key>
		<integer>-129</integer>
		<key>quotedblbase</key>
		<integer>-104</integer>
		<key>quotesinglbase</key>
		<integer>-104</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>C</key>
		<integer>-29</integer>
		<key>Ccedilla</key>
		<integer>-27</integer>
		<key>G</key>
		<integer>-29</integer>
		<key>J</key>
		<integer>57</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>OE</key>
		<integer>-20</integer>
		<key>Oacute</key>
		<integer>-20</integer>
		<key>Ocircumflex</key>
		<integer>-20</integer>
		<key>Odieresis</key>
		<integer>-20</integer>
		<key>Ograve</key>
		<integer>-20</integer>
		<key>Oslash</key>
		<integer>-20</integer>
		<key>Otilde</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-53</integer>
		<key>Y</key>
		<integer>-39</integer>
		<key>Ydieresis</key>
		<integer>-27</integer>
		<key>c</key>
		<integer>-53</integer>
		<key>ccedilla</key>
		<integer>-66</integer>
		<key>d</key>
		<integer>-53</integer>
		<key>e</key>
		<integer>-57</integer>
		<key>eacute</key>
		<integer>-66</integer>
		<key>ecircumflex</key>
		<integer>-66</integer>
		<key>edieresis</key>
		<integer>-66</integer>
		<key>egrave</key>
		<integer>-66</integer>
		<key>g</key>
		<integer>-57</integer>
		<key>o</key>
		<integer>-59</integer>
		<key>oacute</key>
		<integer>-59</integer>
		<key>ocircumflex</key>
		<integer>-59</integer>
		<key>odieresis</key>
		<integer>-59</integer>
		<key>oe</key>
		<integer>-59</integer>
		<key>ograve</key>
		<integer>-59</integer>
		<key>otilde</key>
		<integer>-59</integer>
		<key>q</key>
		<integer>-53</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>quotedblbase</key>
		<integer>-78</integer>
		<key>quotesinglbase</key>
		<integer>-78</integer>
		<key>t</key>
		<integer>-66</integer>
		<key>v</key>
		<integer>-49</integer>
		<key>w</key>
		<integer>-27</integer>
		<key>y</key>
		<integer>-47</integer>
		<key>ydieresis</key>
		<integer>-66</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-154</integer>
		<key>AE</key>
		<integer>-244</integer>
		<key>Aacute</key>
		<integer>-154</integer>
		<key>Acircumflex</key>
		<integer>-154</integer>
		<key>Adieresis</key>
		<integer>-154</integer>
		<key>Agrave</key>
		<integer>-154</integer>
		<key>Aring</key>
		<integer>-154</integer>
		<key>Atilde</key>
		<integer>-154</integer>
		<key>C</key>
		<integer>-92</integer>
		<key>Ccedilla</key>
		<integer>-92</integer>
		<key>G</key>
		<integer>-92</integer>
		<key>J</key>
		<integer>-113</integer>
		<key>O</key>
		<integer>-92</integer>
		<key>OE</key>
		<integer>-92</integer>
		<key>Oacute</key>
		<integer>-92</integer>
		<key>Ocircumflex</key>
		<integer>-92</integer>
		<key>Odieresis</key>
		<integer>-92</integer>
		<key>Ograve</key>
		<integer>-92</integer>
		<key>Oslash</key>
		<integer>-92</integer>
		<key>Otilde</key>
		<integer>-92</integer>
		<key>Q</key>
		<integer>-92</integer>
		<key>T</key>
		<integer>39</integer>
		<key>V</key>
		<integer>43</integer>
		<key>W</key>
		<integer>39</integer>
		<key>X</key>
		<integer>-6</integer>
		<key>Y</key>
		<integer>29</integer>
		<key>a</key>
		<integer>-217</integer>
		<key>aacute</key>
		<integer>-217</integer>
		<key>acircumflex</key>
		<integer>-217</integer>
		<key>adieresis</key>
		<integer>-217</integer>
		<key>ae</key>
		<integer>-217</integer>
		<key>agrave</key>
		<integer>-217</integer>
		<key>aring</key>
		<integer>-217</integer>
		<key>atilde</key>
		<integer>-193</integer>
		<key>c</key>
		<integer>-211</integer>
		<key>ccedilla</key>
		<integer>-229</integer>
		<key>comma</key>
		<integer>-129</integer>
		<key>d</key>
		<integer>-211</integer>
		<key>e</key>
		<integer>-211</integer>
		<key>eacute</key>
		<integer>-211</integer>
		<key>ecircumflex</key>
		<integer>-211</integer>
		<key>edieresis</key>
		<integer>-211</integer>
		<key>egrave</key>
		<integer>-211</integer>
		<key>f</key>
		<integer>-96</integer>
		<key>g</key>
		<integer>-211</integer>
		<key>guillemotleft</key>
		<integer>-102</integer>
		<key>guillemotright</key>
		<integer>-49</integer>
		<key>guilsinglleft</key>
		<integer>-102</integer>
		<key>guilsinglright</key>
		<integer>-49</integer>
		<key>iacute</key>
		<integer>-23</integer>
		<key>icircumflex</key>
		<integer>49</integer>
		<key>idieresis</key>
		<integer>111</integer>
		<key>m</key>
		<integer>-178</integer>
		<key>n</key>
		<integer>-178</integer>
		<key>ntilde</key>
		<integer>-178</integer>
		<key>o</key>
		<integer>-211</integer>
		<key>oacute</key>
		<integer>-211</integer>
		<key>ocircumflex</key>
		<integer>-211</integer>
		<key>odieresis</key>
		<integer>-211</integer>
		<key>oe</key>
		<integer>-211</integer>
		<key>ograve</key>
		<integer>-211</integer>
		<key>otilde</key>
		<integer>-211</integer>
		<key>p</key>
		<integer>-178</integer>
		<key>period</key>
		<integer>-180</integer>
		<key>q</key>
		<integer>-211</integer>
		<key>quotedblbase</key>
		<integer>-233</integer>
		<key>quotedblright</key>
		<integer>39</integer>
		<key>quoteright</key>
		<integer>39</integer>
		<key>quotesinglbase</key>
		<integer>-233</integer>
		<key>r</key>
		<integer>-178</integer>
		<key>s</key>
		<integer>-154</integer>
		<key>trademark</key>
		<integer>82</integer>
		<key>u</key>
		<integer>-178</integer>
		<key>uacute</key>
		<integer>-178</integer>
		<key>ucircumflex</key>
		<integer>-178</integer>
		<key>udieresis</key>
		<integer>-178</integer>
		<key>ugrave</key>
		<integer>-178</integer>
		<key>v</key>
		<integer>-102</integer>
		<key>w</key>
		<integer>-113</integer>
		<key>x</key>
		<integer>-180</integer>
		<key>y</key>
		<integer>-113</integer>
		<key>ydieresis</key>
		<integer>-113</integer>
		<key>z</key>
		<integer>-129</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-41</integer>
		<key>AE</key>
		<integer>-117</integer>
		<key>quotedblbase</key>
		<integer>-90</integer>
		<key>quotesinglbase</key>
		<integer>-90</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-117</integer>
		<key>AE</key>
		<integer>-188</integer>
		<key>Aacute</key>
		<integer>-117</integer>
		<key>Acircumflex</key>
		<integer>-117</integer>
		<key>Adieresis</key>
		<integer>-117</integer>
		<key>Agrave</key>
		<integer>-117</integer>
		<key>Aring</key>
		<integer>-117</integer>
		<key>Atilde</key>
		<integer>-117</integer>
		<key>C</key>
		<integer>-43</integer>
		<key>Ccedilla</key>
		<integer>-31</integer>
		<key>G</key>
		<integer>-43</integer>
		<key>J</key>
		<integer>-70</integer>
		<key>O</key>
		<integer>-12</integer>
		<key>OE</key>
		<integer>-12</integer>
		<key>Oacute</key>
		<integer>-12</integer>
		<key>Ocircumflex</key>
		<integer>-12</integer>
		<key>Odieresis</key>
		<integer>-12</integer>
		<key>Ograve</key>
		<integer>-12</integer>
		<key>Oslash</key>
		<integer>-12</integer>
		<key>Otilde</key>
		<integer>-12</integer>
		<key>Q</key>
		<integer>-43</integer>
		<key>S</key>
		<integer>-27</integer>
		<key>T</key>
		<integer>39</integer>
		<key>a</key>
		<integer>-147</integer>
		<key>aacute</key>
		<integer>-147</integer>
		<key>acircumflex</key>
		<integer>-147</integer>
		<key>adieresis</key>
		<integer>-147</integer>
		<key>ae</key>
		<integer>-147</integer>
		<key>agrave</key>
		<integer>-147</integer>
		<key>aring</key>
		<integer>-147</integer>
		<key>atilde</key>
		<integer>-147</integer>
		<key>c</key>
		<integer>-129</integer>
		<key>ccedilla</key>
		<integer>-129</integer>
		<key>comma</key>
		<integer>-205</integer>
		<key>d</key>
		<integer>-129</integer>
		<key>e</key>
		<integer>-129</integer>
		<key>eacute</key>
		<integer>-129</integer>
		<key>ecircumflex</key>
		<integer>-129</integer>
		<key>edieresis</key>
		<integer>-129</integer>
		<key>egrave</key>
		<integer>-129</integer>
		<key>g</key>
		<integer>-129</integer>
		<key>guillemotleft</key>
		<integer>-49</integer>
		<key>guilsinglleft</key>
		<integer>-49</integer>
		<key>icircumflex</key>
		<integer>29</integer>
		<key>idieresis</key>
		<integer>90</integer>
		<key>m</key>
		<integer>-76</integer>
		<key>n</key>
		<integer>-76</integer>
		<key>ntilde</key>
		<integer>-76</integer>
		<key>o</key>
		<integer>-129</integer>
		<key>oacute</key>
		<integer>-129</integer>
		<key>ocircumflex</key>
		<integer>-129</integer>
		<key>odieresis</key>
		<integer>-129</integer>
		<key>oe</key>
		<integer>-129</integer>
		<key>ograve</key>
		<integer>-129</integer>
		<key>otilde</key>
		<integer>-129</integer>
		<key>p</key>
		<integer>-76</integer>
		<key>period</key>
		<integer>-229</integer>
		<key>q</key>
		<integer>-129</integer>
		<key>quotedblbase</key>
		<integer>-129</integer>
		<key>quotesinglbase</key>
		<integer>-141</integer>
		<key>r</key>
		<integer>-76</integer>
		<key>s</key>
		<integer>-66</integer>
		<key>trademark</key>
		<integer>82</integer>
		<key>u</key>
		<integer>-76</integer>
		<key>uacute</key>
		<integer>-76</integer>
		<key>ucircumflex</key>
		<integer>-76</integer>
		<key>udieresis</key>
		<integer>-76</integer>
		<key>ugrave</key>
		<integer>-76</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-74</integer>
		<key>AE</key>
		<integer>-102</integer>
		<key>Aacute</key>
		<integer>-74</integer>
		<key>Acircumflex</key>
		<integer>-74</integer>
		<key>Adieresis</key>
		<integer>-74</integer>
		<key>Agrave</key>
		<integer>-74</integer>
		<key>Aring</key>
		<integer>-74</integer>
		<key>Atilde</key>
		<integer>-74</integer>
		<key>T</key>
		<integer>39</integer>
		<key>a</key>
		<integer>-76</integer>
		<key>aacute</key>
		<integer>-76</integer>
		<key>acircumflex</key>
		<integer>-76</integer>
		<key>adieresis</key>
		<integer>-76</integer>
		<key>ae</key>
		<integer>-76</integer>
		<key>agrave</key>
		<integer>-76</integer>
		<key>aring</key>
		<integer>-76</integer>
		<key>atilde</key>
		<integer>-76</integer>
		<key>c</key>
		<integer>-49</integer>
		<key>ccedilla</key>
		<integer>-49</integer>
		<key>comma</key>
		<integer>-117</integer>
		<key>d</key>
		<integer>-49</integer>
		<key>e</key>
		<integer>-49</integer>
		<key>eacute</key>
		<integer>-49</integer>
		<key>ecircumflex</key>
		<integer>-49</integer>
		<key>edieresis</key>
		<integer>-49</integer>
		<key>egrave</key>
		<integer>-49</integer>
		<key>g</key>
		<integer>-49</integer>
		<key>guillemotleft</key>
		<integer>-49</integer>
		<key>guillemotright</key>
		<integer>39</integer>
		<key>guilsinglleft</key>
		<integer>-49</integer>
		<key>guilsinglright</key>
		<integer>39</integer>
		<key>icircumflex</key>
		<integer>49</integer>
		<key>idieresis</key>
		<integer>100</integer>
		<key>o</key>
		<integer>-49</integer>
		<key>oacute</key>
		<integer>-49</integer>
		<key>ocircumflex</key>
		<integer>-49</integer>
		<key>odieresis</key>
		<integer>-49</integer>
		<key>oe</key>
		<integer>-49</integer>
		<key>ograve</key>
		<integer>-49</integer>
		<key>otilde</key>
		<integer>-49</integer>
		<key>period</key>
		<integer>-129</integer>
		<key>q</key>
		<integer>-49</integer>
		<key>quotedblbase</key>
		<integer>-117</integer>
		<key>quotesinglbase</key>
		<integer>-129</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-23</integer>
		<key>Ccedilla</key>
		<integer>-23</integer>
		<key>G</key>
		<integer>-23</integer>
		<key>J</key>
		<integer>96</integer>
		<key>O</key>
		<integer>-23</integer>
		<key>OE</key>
		<integer>-23</integer>
		<key>Oacute</key>
		<integer>-23</integer>
		<key>Ocircumflex</key>
		<integer>-23</integer>
		<key>Odieresis</key>
		<integer>-23</integer>
		<key>Ograve</key>
		<integer>-23</integer>
		<key>Oslash</key>
		<integer>-23</integer>
		<key>Otilde</key>
		<integer>-23</integer>
		<key>Q</key>
		<integer>-23</integer>
		<key>T</key>
		<integer>33</integer>
		<key>comma</key>
		<integer>68</integer>
		<key>idieresis</key>
		<integer>82</integer>
		<key>period</key>
		<integer>57</integer>
		<key>quotedblbase</key>
		<integer>82</integer>
		<key>quotesinglbase</key>
		<integer>68</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-158</integer>
		<key>AE</key>
		<integer>-193</integer>
		<key>Aacute</key>
		<integer>-158</integer>
		<key>Acircumflex</key>
		<integer>-158</integer>
		<key>Adieresis</key>
		<integer>-158</integer>
		<key>Agrave</key>
		<integer>-158</integer>
		<key>Aring</key>
		<integer>-158</integer>
		<key>Atilde</key>
		<integer>-158</integer>
		<key>C</key>
		<integer>-45</integer>
		<key>Ccedilla</key>
		<integer>-51</integer>
		<key>G</key>
		<integer>-45</integer>
		<key>J</key>
		<integer>-66</integer>
		<key>O</key>
		<integer>-45</integer>
		<key>OE</key>
		<integer>-45</integer>
		<key>Oacute</key>
		<integer>-45</integer>
		<key>Ocircumflex</key>
		<integer>-45</integer>
		<key>Odieresis</key>
		<integer>-45</integer>
		<key>Ograve</key>
		<integer>-45</integer>
		<key>Oslash</key>
		<integer>-45</integer>
		<key>Otilde</key>
		<integer>-45</integer>
		<key>Q</key>
		<integer>-45</integer>
		<key>S</key>
		<integer>-27</integer>
		<key>T</key>
		<integer>39</integer>
		<key>a</key>
		<integer>-199</integer>
		<key>aacute</key>
		<integer>-199</integer>
		<key>acircumflex</key>
		<integer>-199</integer>
		<key>adieresis</key>
		<integer>-129</integer>
		<key>ae</key>
		<integer>-199</integer>
		<key>agrave</key>
		<integer>-199</integer>
		<key>aring</key>
		<integer>-199</integer>
		<key>atilde</key>
		<integer>-154</integer>
		<key>c</key>
		<integer>-180</integer>
		<key>ccedilla</key>
		<integer>-180</integer>
		<key>comma</key>
		<integer>-176</integer>
		<key>d</key>
		<integer>-180</integer>
		<key>e</key>
		<integer>-180</integer>
		<key>eacute</key>
		<integer>-180</integer>
		<key>ecircumflex</key>
		<integer>-180</integer>
		<key>edieresis</key>
		<integer>-180</integer>
		<key>egrave</key>
		<integer>-180</integer>
		<key>f</key>
		<integer>-27</integer>
		<key>g</key>
		<integer>-180</integer>
		<key>guillemotleft</key>
		<integer>-49</integer>
		<key>guilsinglleft</key>
		<integer>-102</integer>
		<key>idieresis</key>
		<integer>90</integer>
		<key>m</key>
		<integer>-141</integer>
		<key>n</key>
		<integer>-141</integer>
		<key>ntilde</key>
		<integer>-141</integer>
		<key>o</key>
		<integer>-180</integer>
		<key>oacute</key>
		<integer>-180</integer>
		<key>ocircumflex</key>
		<integer>-180</integer>
		<key>odieresis</key>
		<integer>-180</integer>
		<key>oe</key>
		<integer>-180</integer>
		<key>ograve</key>
		<integer>-180</integer>
		<key>otilde</key>
		<integer>-180</integer>
		<key>p</key>
		<integer>-141</integer>
		<key>period</key>
		<integer>-195</integer>
		<key>q</key>
		<integer>-180</integer>
		<key>quotedblbase</key>
		<integer>-248</integer>
		<key>quotesinglbase</key>
		<integer>-248</integer>
		<key>r</key>
		<integer>-141</integer>
		<key>s</key>
		<integer>-133</integer>
		<key>u</key>
		<integer>-141</integer>
		<key>uacute</key>
		<integer>-141</integer>
		<key>ucircumflex</key>
		<integer>-141</integer>
		<key>udieresis</key>
		<integer>-141</integer>
		<key>ugrave</key>
		<integer>-141</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>J</key>
		<integer>82</integer>
		<key>T</key>
		<integer>39</integer>
		<key>guillemotright</key>
		<integer>39</integer>
		<key>guilsinglright</key>
		<integer>82</integer>
		<key>idieresis</key>
		<integer>70</integer>
		<key>y</key>
		<integer>-53</integer>
		<key>ydieresis</key>
		<integer>-66</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>A</key>
		<integer>-166</integer>
		<key>J</key>
		<integer>-154</integer>
		<key>c</key>
		<integer>-102</integer>
		<key>d</key>
		<integer>-102</integer>
		<key>e</key>
		<integer>-102</integer>
		<key>g</key>
		<integer>-102</integer>
		<key>o</key>
		<integer>-102</integer>
		<key>q</key>
		<integer>-102</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>a</key>
		<integer>-27</integer>
		<key>aacute</key>
		<integer>-27</integer>
		<key>acircumflex</key>
		<integer>-27</integer>
		<key>adieresis</key>
		<integer>-27</integer>
		<key>ae</key>
		<integer>-27</integer>
		<key>agrave</key>
		<integer>-27</integer>
		<key>aring</key>
		<integer>-27</integer>
		<key>atilde</key>
		<integer>-27</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-25</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>j</key>
		<integer>203</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>j</key>
		<integer>233</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>J</key>
		<integer>70</integer>
		<key>T</key>
		<integer>-102</integer>
		<key>Y</key>
		<integer>-76</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>quotedblleft</key>
		<integer>-207</integer>
		<key>quotedblright</key>
		<integer>-207</integer>
		<key>quoteleft</key>
		<integer>-207</integer>
		<key>quoteright</key>
		<integer>-207</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>quotedbl</key>
		<integer>-104</integer>
		<key>quotesingle</key>
		<integer>-104</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>b</key>
		<integer>18</integer>
		<key>braceright</key>
		<integer>82</integer>
		<key>bracketright</key>
		<integer>141</integer>
		<key>comma</key>
		<integer>-129</integer>
		<key>guillemotright</key>
		<integer>39</integer>
		<key>guilsinglright</key>
		<integer>39</integer>
		<key>h</key>
		<integer>18</integer>
		<key>hyphen</key>
		<integer>-102</integer>
		<key>icircumflex</key>
		<integer>18</integer>
		<key>idieresis</key>
		<integer>121</integer>
		<key>igrave</key>
		<integer>45</integer>
		<key>parenright</key>
		<integer>141</integer>
		<key>period</key>
		<integer>-129</integer>
		<key>question</key>
		<integer>66</integer>
		<key>quotedblbase</key>
		<integer>-80</integer>
		<key>quotedblleft</key>
		<integer>94</integer>
		<key>quotedblright</key>
		<integer>82</integer>
		<key>quoteleft</key>
		<integer>94</integer>
		<key>quoteright</key>
		<integer>82</integer>
		<key>quotesinglbase</key>
		<integer>-80</integer>
		<key>t</key>
		<integer>37</integer>
		<key>trademark</key>
		<integer>147</integer>
		<key>v</key>
		<integer>39</integer>
		<key>w</key>
		<integer>39</integer>
		<key>x</key>
		<integer>18</integer>
		<key>y</key>
		<integer>33</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>j</key>
		<integer>47</integer>
	</dict>
	<key>guillemotleft</key>
	<dict>
		<key>J</key>
		<integer>82</integer>
		<key>T</key>
		<integer>-49</integer>
		<key>W</key>
		<integer>82</integer>
		<key>Z</key>
		<integer>82</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>guillemotright</key>
	<dict>
		<key>T</key>
		<integer>-49</integer>
		<key>V</key>
		<integer>-49</integer>
		<key>W</key>
		<integer>-49</integer>
		<key>Y</key>
		<integer>-102</integer>
	</dict>
	<key>guilsinglleft</key>
	<dict>
		<key>J</key>
		<integer>82</integer>
		<key>T</key>
		<integer>-49</integer>
		<key>W</key>
		<integer>39</integer>
		<key>Z</key>
		<integer>82</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>guilsinglright</key>
	<dict>
		<key>T</key>
		<integer>-102</integer>
		<key>V</key>
		<integer>-49</integer>
		<key>W</key>
		<integer>-49</integer>
		<key>Y</key>
		<integer>-102</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>j</key>
		<integer>35</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>c</key>
		<integer>-41</integer>
		<key>ccedilla</key>
		<integer>-27</integer>
		<key>comma</key>
		<integer>82</integer>
		<key>d</key>
		<integer>-27</integer>
		<key>e</key>
		<integer>-41</integer>
		<key>eacute</key>
		<integer>-41</integer>
		<key>ecircumflex</key>
		<integer>-41</integer>
		<key>edieresis</key>
		<integer>-41</integer>
		<key>egrave</key>
		<integer>-41</integer>
		<key>g</key>
		<integer>-41</integer>
		<key>hyphen</key>
		<integer>-139</integer>
		<key>o</key>
		<integer>-41</integer>
		<key>oacute</key>
		<integer>-41</integer>
		<key>ocircumflex</key>
		<integer>-41</integer>
		<key>odieresis</key>
		<integer>-41</integer>
		<key>oe</key>
		<integer>-41</integer>
		<key>ograve</key>
		<integer>-41</integer>
		<key>otilde</key>
		<integer>-41</integer>
		<key>period</key>
		<integer>82</integer>
		<key>q</key>
		<integer>-27</integer>
		<key>t</key>
		<integer>-16</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>quotedbl</key>
		<integer>-104</integer>
		<key>quotesingle</key>
		<integer>-104</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>a</key>
		<integer>-27</integer>
		<key>aacute</key>
		<integer>-27</integer>
		<key>acircumflex</key>
		<integer>-27</integer>
		<key>adieresis</key>
		<integer>-27</integer>
		<key>ae</key>
		<integer>-27</integer>
		<key>agrave</key>
		<integer>-27</integer>
		<key>aring</key>
		<integer>-27</integer>
		<key>atilde</key>
		<integer>-27</integer>
		<key>f</key>
		<integer>-37</integer>
		<key>quotedbl</key>
		<integer>-145</integer>
		<key>quotedblleft</key>
		<integer>-78</integer>
		<key>quotedblright</key>
		<integer>-131</integer>
		<key>quoteleft</key>
		<integer>-66</integer>
		<key>quoteright</key>
		<integer>-131</integer>
		<key>quotesingle</key>
		<integer>-145</integer>
		<key>x</key>
		<integer>-25</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>a</key>
		<integer>-27</integer>
		<key>aacute</key>
		<integer>-27</integer>
		<key>acircumflex</key>
		<integer>-27</integer>
		<key>adieresis</key>
		<integer>-27</integer>
		<key>ae</key>
		<integer>-27</integer>
		<key>agrave</key>
		<integer>-27</integer>
		<key>aring</key>
		<integer>-27</integer>
		<key>atilde</key>
		<integer>-27</integer>
		<key>f</key>
		<integer>-37</integer>
		<key>quotedblleft</key>
		<integer>-53</integer>
		<key>quotedblright</key>
		<integer>-119</integer>
		<key>quoteleft</key>
		<integer>-119</integer>
		<key>quoteright</key>
		<integer>-119</integer>
		<key>x</key>
		<integer>-25</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>j</key>
		<integer>233</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>quotedblleft</key>
		<integer>-207</integer>
		<key>quotedblright</key>
		<integer>-195</integer>
		<key>quoteleft</key>
		<integer>-207</integer>
		<key>quoteright</key>
		<integer>-195</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>j</key>
		<integer>102</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>r</key>
		<integer>-51</integer>
		<key>s</key>
		<integer>-66</integer>
	</dict>
	<key>quotedblbase</key>
	<dict>
		<key>G</key>
		<integer>-90</integer>
		<key>J</key>
		<integer>109</integer>
		<key>O</key>
		<integer>-78</integer>
		<key>T</key>
		<integer>-207</integer>
		<key>U</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-129</integer>
		<key>W</key>
		<integer>-117</integer>
		<key>X</key>
		<integer>39</integer>
		<key>Y</key>
		<integer>-195</integer>
		<key>v</key>
		<integer>-117</integer>
		<key>w</key>
		<integer>-129</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-219</integer>
		<key>AE</key>
		<integer>-377</integer>
		<key>J</key>
		<integer>-158</integer>
		<key>T</key>
		<integer>82</integer>
		<key>c</key>
		<integer>-129</integer>
		<key>comma</key>
		<integer>-104</integer>
		<key>d</key>
		<integer>-129</integer>
		<key>e</key>
		<integer>-129</integer>
		<key>g</key>
		<integer>-141</integer>
		<key>period</key>
		<integer>-104</integer>
		<key>s</key>
		<integer>-78</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>A</key>
		<integer>-154</integer>
		<key>AE</key>
		<integer>-246</integer>
		<key>T</key>
		<integer>82</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-102</integer>
		<key>d</key>
		<integer>-158</integer>
		<key>e</key>
		<integer>-158</integer>
		<key>g</key>
		<integer>-158</integer>
		<key>o</key>
		<integer>-158</integer>
		<key>period</key>
		<integer>-102</integer>
		<key>s</key>
		<integer>-129</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>A</key>
		<integer>-219</integer>
		<key>AE</key>
		<integer>-246</integer>
		<key>C</key>
		<integer>-66</integer>
		<key>J</key>
		<integer>-145</integer>
		<key>T</key>
		<integer>82</integer>
		<key>c</key>
		<integer>-129</integer>
		<key>d</key>
		<integer>-158</integer>
		<key>e</key>
		<integer>-129</integer>
		<key>g</key>
		<integer>-129</integer>
		<key>o</key>
		<integer>-129</integer>
		<key>quoteleft</key>
		<integer>-172</integer>
		<key>s</key>
		<integer>-78</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>A</key>
		<integer>-166</integer>
		<key>AE</key>
		<integer>-248</integer>
		<key>J</key>
		<integer>-158</integer>
		<key>T</key>
		<integer>82</integer>
		<key>a</key>
		<integer>-104</integer>
		<key>c</key>
		<integer>-195</integer>
		<key>comma</key>
		<integer>-102</integer>
		<key>d</key>
		<integer>-158</integer>
		<key>e</key>
		<integer>-158</integer>
		<key>g</key>
		<integer>-158</integer>
		<key>o</key>
		<integer>-158</integer>
		<key>period</key>
		<integer>-102</integer>
		<key>q</key>
		<integer>-145</integer>
		<key>quoteright</key>
		<integer>-172</integer>
		<key>quotesinglbase</key>
		<integer>-104</integer>
		<key>s</key>
		<integer>-117</integer>
	</dict>
	<key>quotesinglbase</key>
	<dict>
		<key>G</key>
		<integer>-78</integer>
		<key>J</key>
		<integer>109</integer>
		<key>O</key>
		<integer>-90</integer>
		<key>T</key>
		<integer>-207</integer>
		<key>U</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-141</integer>
		<key>W</key>
		<integer>-129</integer>
		<key>X</key>
		<integer>57</integer>
		<key>Y</key>
		<integer>-248</integer>
		<key>o</key>
		<integer>25</integer>
		<key>v</key>
		<integer>-117</integer>
		<key>w</key>
		<integer>-129</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>r</key>
		<integer>-51</integer>
		<key>s</key>
		<integer>-66</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>c</key>
		<integer>-27</integer>
		<key>ccedilla</key>
		<integer>-27</integer>
		<key>comma</key>
		<integer>-158</integer>
		<key>d</key>
		<integer>-27</integer>
		<key>e</key>
		<integer>-27</integer>
		<key>eacute</key>
		<integer>-27</integer>
		<key>ecircumflex</key>
		<integer>-27</integer>
		<key>edieresis</key>
		<integer>-27</integer>
		<key>egrave</key>
		<integer>-27</integer>
		<key>f</key>
		<integer>39</integer>
		<key>g</key>
		<integer>-27</integer>
		<key>hyphen</key>
		<integer>-129</integer>
		<key>m</key>
		<integer>-4</integer>
		<key>n</key>
		<integer>-4</integer>
		<key>o</key>
		<integer>-27</integer>
		<key>oacute</key>
		<integer>-27</integer>
		<key>ocircumflex</key>
		<integer>-27</integer>
		<key>odieresis</key>
		<integer>-27</integer>
		<key>oe</key>
		<integer>-27</integer>
		<key>ograve</key>
		<integer>-27</integer>
		<key>otilde</key>
		<integer>-27</integer>
		<key>period</key>
		<integer>-170</integer>
		<key>q</key>
		<integer>-27</integer>
		<key>quotedblbase</key>
		<integer>-158</integer>
		<key>quotedblleft</key>
		<integer>164</integer>
		<key>quotedblright</key>
		<integer>121</integer>
		<key>quoteleft</key>
		<integer>164</integer>
		<key>quoteright</key>
		<integer>121</integer>
		<key>quotesinglbase</key>
		<integer>-158</integer>
		<key>s</key>
		<integer>14</integer>
		<key>t</key>
		<integer>59</integer>
		<key>v</key>
		<integer>82</integer>
		<key>w</key>
		<integer>82</integer>
		<key>x</key>
		<integer>59</integer>
		<key>y</key>
		<integer>82</integer>
		<key>z</key>
		<integer>39</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>c</key>
		<integer>-27</integer>
		<key>ccedilla</key>
		<integer>-27</integer>
		<key>d</key>
		<integer>-27</integer>
		<key>e</key>
		<integer>-16</integer>
		<key>eacute</key>
		<integer>-16</integer>
		<key>ecircumflex</key>
		<integer>-16</integer>
		<key>edieresis</key>
		<integer>-16</integer>
		<key>egrave</key>
		<integer>-16</integer>
		<key>g</key>
		<integer>-16</integer>
		<key>guillemotright</key>
		<integer>39</integer>
		<key>guilsinglright</key>
		<integer>39</integer>
		<key>hyphen</key>
		<integer>-113</integer>
		<key>o</key>
		<integer>-16</integer>
		<key>oacute</key>
		<integer>-16</integer>
		<key>ocircumflex</key>
		<integer>-16</integer>
		<key>odieresis</key>
		<integer>-16</integer>
		<key>oe</key>
		<integer>-16</integer>
		<key>ograve</key>
		<integer>-16</integer>
		<key>otilde</key>
		<integer>-16</integer>
		<key>q</key>
		<integer>-16</integer>
		<key>question</key>
		<integer>-53</integer>
		<key>x</key>
		<integer>29</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>quotedbl</key>
		<integer>-66</integer>
		<key>quotesingle</key>
		<integer>-66</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-37</integer>
		<key>aacute</key>
		<integer>-37</integer>
		<key>acircumflex</key>
		<integer>-37</integer>
		<key>adieresis</key>
		<integer>-37</integer>
		<key>ae</key>
		<integer>-37</integer>
		<key>agrave</key>
		<integer>-37</integer>
		<key>aring</key>
		<integer>-37</integer>
		<key>atilde</key>
		<integer>-37</integer>
		<key>c</key>
		<integer>-12</integer>
		<key>ccedilla</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-117</integer>
		<key>d</key>
		<integer>-16</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>eacute</key>
		<integer>-12</integer>
		<key>ecircumflex</key>
		<integer>-12</integer>
		<key>edieresis</key>
		<integer>-12</integer>
		<key>egrave</key>
		<integer>-12</integer>
		<key>g</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-12</integer>
		<key>oacute</key>
		<integer>-12</integer>
		<key>ocircumflex</key>
		<integer>-12</integer>
		<key>odieresis</key>
		<integer>-12</integer>
		<key>oe</key>
		<integer>-12</integer>
		<key>ograve</key>
		<integer>-12</integer>
		<key>otilde</key>
		<integer>-12</integer>
		<key>period</key>
		<integer>-129</integer>
		<key>q</key>
		<integer>-16</integer>
		<key>quotedblbase</key>
		<integer>-129</integer>
		<key>quotesinglbase</key>
		<integer>-117</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>c</key>
		<integer>-6</integer>
		<key>ccedilla</key>
		<integer>-6</integer>
		<key>comma</key>
		<integer>-90</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>eacute</key>
		<integer>-10</integer>
		<key>ecircumflex</key>
		<integer>-10</integer>
		<key>edieresis</key>
		<integer>-10</integer>
		<key>egrave</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-6</integer>
		<key>o</key>
		<integer>-6</integer>
		<key>oacute</key>
		<integer>-6</integer>
		<key>ocircumflex</key>
		<integer>-6</integer>
		<key>odieresis</key>
		<integer>-6</integer>
		<key>oe</key>
		<integer>-6</integer>
		<key>ograve</key>
		<integer>-6</integer>
		<key>otilde</key>
		<integer>-6</integer>
		<key>period</key>
		<integer>-102</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>quotedblbase</key>
		<integer>-76</integer>
		<key>quotesinglbase</key>
		<integer>-76</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>c</key>
		<integer>-16</integer>
		<key>ccedilla</key>
		<integer>-16</integer>
		<key>d</key>
		<integer>-16</integer>
		<key>e</key>
		<integer>-16</integer>
		<key>eacute</key>
		<integer>-16</integer>
		<key>ecircumflex</key>
		<integer>-16</integer>
		<key>edieresis</key>
		<integer>-16</integer>
		<key>egrave</key>
		<integer>-16</integer>
		<key>g</key>
		<integer>-16</integer>
		<key>o</key>
		<integer>-16</integer>
		<key>oacute</key>
		<integer>-16</integer>
		<key>ocircumflex</key>
		<integer>-16</integer>
		<key>odieresis</key>
		<integer>-16</integer>
		<key>oe</key>
		<integer>-16</integer>
		<key>ograve</key>
		<integer>-16</integer>
		<key>otilde</key>
		<integer>-16</integer>
		<key>q</key>
		<integer>-16</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
		<key>ccedilla</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-102</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>eacute</key>
		<integer>-10</integer>
		<key>ecircumflex</key>
		<integer>-10</integer>
		<key>edieresis</key>
		<integer>-10</integer>
		<key>egrave</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>4</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>guilsinglright</key>
		<integer>12</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>oacute</key>
		<integer>-10</integer>
		<key>ocircumflex</key>
		<integer>-10</integer>
		<key>odieresis</key>
		<integer>-10</integer>
		<key>oe</key>
		<integer>-10</integer>
		<key>ograve</key>
		<integer>-10</integer>
		<key>otilde</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-127</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>-76</integer>
		<key>quotedbl</key>
		<integer>29</integer>
		<key>quotedblbase</key>
		<integer>-115</integer>
		<key>quotesinglbase</key>
		<integer>-115</integer>
		<key>quotesingle</key>
		<integer>29</integer>
		<key>t</key>
		<integer>6</integer>
	</dict>
</dict>
</plist>
